{% extends "_base.html" %}



{% block page_title %}


Todo

{% endblock page_title %}



{% block content %}




{% if request.user.is_authenticated %}

<a href="{% url 'user-logout' %}">Logout</a>

{% else %}


<a href="{% url 'user-register' %}">Register</a>
<a href="{% url 'user-login' %}">Login</a>

{% endif %}





<div class="card">




    {% for todo in todos %}

    <a class="card-body" href="{% url 'detail' todo.pk %}">{{todo.title}}</a><br>

    {% endfor %}

</div>

{% endblock content %}